<header class='container'>
  <nav class="nav-container">
    <a routerLink="/" class="logo-container">
      <img ngSrc="assets/images/android-chrome-512x512.png" alt="logo" height="512" width="512">
    </a>
    <a routerLink="jokes" class="joke-btn" >
      <app-button buttonName="Find joke" ></app-button>
    </a>
    <ng-container *ngIf="isAuthenticated()">
      <h2>Logged in</h2>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated()">
      <a routerLink="auth/login">
        <app-button buttonName="Login" [variant]="ButtonVariant.Primary"></app-button>
      </a>
    </ng-container>
  </nav>
  <div class="divider"></div>
</header>
