<header class="container">
  <nav class="nav-container">
    <a routerLink="/" class="logo-container">
      <img ngSrc="assets/images/android-chrome-512x512.png" alt="logo" height="512" width="512">
    </a>
    <a routerLink="jokes" class="joke-btn">
      <app-button buttonName="Find joke"></app-button>
    </a>
    <ng-container *ngIf="authStatus$ | async; else loggedOut">
      <div class="logout-container">
        <span *ngIf="currentUser$ | async as user" routerLink="/user-account">
          Welcome, {{ user.email }}!
        </span>
        <app-button buttonName="Logout" (click)="logout()" [variant]="ButtonVariant.Primary"></app-button>
      </div>
    </ng-container>
    <ng-template #loggedOut>
      <a routerLink="auth/login">
        <app-button buttonName="Login" [variant]="ButtonVariant.Primary"></app-button>
      </a>
    </ng-template>
  </nav>
  <div class="divider"></div>
</header>
