<section class="container">
  <h1>Welcome stranger!</h1>
  <p>
    Thank you for visiting our site! Before we begin, we want to emphasize that humor should never come at the expense
    of others. While we aim to provide lighthearted entertainment, we understand that certain topics, including politics
    and race, can be sensitive. Our intention is to spread joy and laughter in a respectful and inclusive manner.
  </p>
  <p>
    Our collection of jokes covers a wide range of topics, from clever wordplay to witty observations. We encourage you
    to explore and enjoy the humor, keeping in mind the importance of kindness and empathy towards others. So sit back,
    relax, and get ready to share a smile or two!
  </p>
  <div class="choice">
    <a routerLink="/jokes">Start exploring jokes</a>
    <span>or</span>
    <a routerLink="/login">Login to account for better experience</a>
  </div>
</section>
